@{
    ViewBag.Title = "Home Page";
}

<div class="col-xs-12 wrap_main">
    <div class="img-wrapper">
        <div class="home_img"></div>
    </div>
</div>
<div class="col-xs-12 content">
    <h2>Тестовое задание Забродина Дмитрия!<h2>
</div>